Tese.pdf
Thesis.pdf
.DS_Store
*.dvi
*.tdo
*.idx
*.nlo
*.brf
*.txt
*.log
*.gz
*.aux
*.bbl
*.blg
*.log
*.~lock.*
*.~*
*.zip
*.nav
*.out
*.snm
*.toc
*.loa
*.lof
*.lot
_Ficheiros_Reservado_DOCS_Despacho_49_R_2010.pdf
_Ficheiros_Reservado_DOCS_Modelo_Tese.doc

# Projeto IntelliJ IDEA
.idea/

# Arquivos gerados pelo latexmk
*.fdb_latexmk
*.fls