Tese.pdf
Thesis.pdf

.DS_Store

# Arquivos temporários tex
out/
*.dvi
*.tdo
*.idx
*.nlo
*.brf
*.txt
*.log
*.gz
*.aux
*.bbl
*.blg
*.ilg
*.ind
*.log
*.~lock.*
*.~*
*.zip
*.nav
*.out
*.snm
*.toc
*.loa
*.lof
*.lot
*.synctex(busy)

# Projeto IntelliJ IDEA
.idea/

# Arquivos gerados pelo latexmk
*.fdb_latexmk
*.fls